@page
@model AssassinsProject.Pages.Signup.VerifyModel
@{
    Layout = "_Layout.Player";
    ViewData["Title"] = "Email verification";
}

<h2 class="mb-3">Verify Email</h2>

@if (Model.Verified)
{
    <div class="alert alert-success">@Model.Message</div>
}
else
{
    <div class="alert alert-danger">@Model.Message</div>
}
